.productDetails {
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.price{ 
  font-size: 25px;
  font-weight: 600;
}
.shippingInformation{ 
  font-size: 15px;
}

.productContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f9f9;
  padding: 20px 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productdescriptions {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

  ol {
    margin: 0;
    padding-left: 20px;
    text-align: left;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 8px;
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
  }
}

.reviews{
  margin-top: -30px;
  margin-bottom: 60px;
    background-color: white;
  padding: 15px;
  border-radius: 6px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

  ol {
    margin: 0;
    padding-left: 20px;
    text-align: left;
  }
}
h3{
 font-size: 20px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 15px;
   font-weight: 400;
}

/* Media Query for Desktops */
@media (min-width: 728px) {
  .productDetails {
    padding: 40px;
  }

  .productContent {
    display: block;
    gap: 40px;  
  }

 .productdescriptions{
    flex: 1;
    padding: 20px;
    width: 900px;
    margin-top: 40px;
justify-self: center;
  
   
  }


  .price{ 
  font-size: 30px;
 
}
.shippingInformation{ 
  font-size: 17px;
}

 ol {
    display: flex;
   justify-content: center;
   gap: 50px;
  }
}
